<!-- Footer here -->
<footer>
        <footer class="bg-red-700" aria-labelledby="footer-heading">
                <h2 id="footer-heading" class="sr-only">Footer</h2>
                <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
                  <div class="xl:grid xl:grid-cols-3 xl:gap-8">
          
                    <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
                      <div class="md:grid md:grid-cols-2 md:gap-8">
                        <div>

                          <ul role="list" class="mt-4 space-y-4">
                            <li>
                              <a href="#" class="text-lg text-white hover:animate-pulse">
                                Utama
                              </a>
                            </li>
              
                            <li>
                              <a href="#" class="text-base text-white hover:animate-pulse">
                                Tentang Kami
                              </a>
                            </li>
              
                            <li>
                              <a href="#" class="text-base text-white hover:animate-pulse">
                                Hubung Kami
                              </a>
                            </li>
                        </ul>
                        </div>
                        <div class="mt-12 md:mt-0">
                          <ul role="list" class="mt-4 space-y-4">
                            <li>
                              <a href="#" class="text-lg text-white hover:animate-pulse">
                                Budaya & Sastera
                              </a>
                            </li>
              
                            <li>
                              <a href="#" class="text-base text-white hover:animate-pulse">
                                Ekonomi
                              </a>
                            </li>
              
                            <li>
                              <a href="#" class="text-base text-white hover:animate-pulse">
                                Kesihatan
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="md:grid md:grid-cols-2 md:gap-8">
                        <div>
                         <ul role="list" class="mt-4 space-y-4">
                          <li>
                            <a href="#" class="text-lg text-white hover:animate-pulse">
                              Jelajah & Gastro
                            </a>
                          </li>
            
                          <li>
                            <a href="#" class="text-base text-white hover:animate-pulse">
                             Saine & Teknolgi
                            </a>
                          </li>
            
                          <li>
                            <a href="#" class="text-base text-white hover:animate-pulse">
                              Masyarakat
                            </a>
                          </li>
                          </ul>
                        </div>
                        <div class="mt-12 md:mt-0">

                          <ul role="list" class="mt-4 space-y-4">
                            <li>
                              <a href="#" class="text-lg text-white hover:animate-pulse">
                                Istimewa
                              </a>
                            </li>
              
                         </ul>
                        </div>
                      </div>
                    </div>
                    <div class="space-y-8 xl:col-span-1 mt-12 md:mt-0 ">
                        <img class="h-14" src="./assets/img/logo/LogoFullWordFull2.png" alt="Company name">
                        <div class="flex space-x-6 justify-center md:justify-end">
                          <a href="#" class="text-gray-400 hover:text-gray-500">
                            <span class="sr-only">Facebook</span>
                            <img class="h-10 w-10" src="./assets/img/logo/youtube.png" alt="Company name">
                          </a>
                          <a href="#" class="text-gray-400 hover:text-gray-500">
                            <span class="sr-only">Facebook</span>
                            <img class="h-10 w-10" src="./assets/img/logo/facebook.png" alt="Company name">
                          </a>
                          <a href="#" class="text-gray-400 hover:text-gray-500">
                            <span class="sr-only">Facebook</span>
                            <img class="h-10 w-10" src="./assets/img/logo/instagram.png" alt="Company name">
                          </a>
                          <a href="#" class="text-gray-400 hover:text-gray-500">
                            <span class="sr-only">Facebook</span>
                            <img class="h-10 w-10" src="./assets/img/logo/twitter.png" alt="Company name">
                          </a>
                          <a href="#" class="text-gray-400 hover:text-gray-500">
                            <span class="sr-only">Facebook</span>
                            <img class="h-10 w-10" src="./assets/img/logo/tiktok.png" alt="Company name">
                          </a>
                        </div>
                      </div>
                  </div>
                  <div class="mt-12 border-t border-gray-200 pt-8">
                    <p class="text-base text-white xl:text-center">
                      &copy; 2021 Alternatif Press
                    </p>
                  </div>
                </div>
              </footer>
</footer>
<!-- main scripts -->
<script src="./assets/js/scripts.js"></script>