<div class="relative max-w-7xl mx-auto  ">

    <div class="   flex flex-col md:flex-row mx-4 md:mx-0 md:py-4 md:divide-x-2 divide-gray-500 ">
      <div class="md:flex-1 order-2 md:order-1 	 ">
        <div class="flex flex-col   py-4 px-0 md:px-4 ">

          <h2 class="text-2xl text-red-500 font-bodoni-std border-b-2 border-gray-500 mb-2">BUDAYA & SASTERA
          </h2>
          <div class="my-2">
            <h5 class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?            </h5>

              <a href="#" class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?           </a>
          </div>
        </div>
        <div class="flex flex-col   py-4 px-0 md:px-4 ">

          <h2 class="text-2xl text-red-500 font-bodoni-std border-b-2 border-gray-500 mb-2">KESIHATAN
          </h2>
          <div class="my-2">
            <h5 class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?            </h5>

              <a href="#" class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?           </a>
          </div>
        </div>
        <div class="flex flex-col   py-4 px-0 md:px-4 ">

          <h2 class="text-2xl text-red-500  font-bodoni-std border-b-2 border-gray-500 mb-2">ISTIMEWA
          </h2>
          <div class="my-2">
            <h5 class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?            </h5>

              <a href="#" class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?           </a>
          </div>
        </div>
        </div>
      <div class="md:flex-grow order-1	md:order-2	 	  ">
        <div class="flex flex-col   py-4 px-0 md:px-4 ">

          <h2 class="text-2xl text-red-500 font-bodoni-std border-b-2 border-gray-500 mb-2">EKONOMI
          </h2>
          <div class="my-2">
            <h5 class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?            </h5>

              <a href="#" class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?           </a>
          </div>
        </div>
        <div class="flex flex-col   py-4 px-0 md:px-4 ">

          <h2 class="text-2xl text-red-500 font-bodoni-std border-b-2 border-gray-500 mb-2">MASYARAKAT
          </h2>
          <div class="my-2">
            <h5 class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?            </h5>

              <a href="#" class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?           </a>
          </div>
        </div>
        <div class="flex flex-col   py-4 px-0 md:px-4 ">

          <h2 class="text-2xl text-red-500 font-bodoni-std border-b-2 border-gray-500 mb-2">LAIN-LAIN

          </h2>
          <div class="my-2">
            <h5 class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?            </h5>

              <a href="#" class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?           </a>
          </div>
        </div>
            </div>
      <div class="md:flex-1 order-3 	">
        <div class="flex flex-col   py-4 px-0 md:px-4 ">

          <h2 class="text-2xl text-red-500 font-bodoni-std border-b-2 border-gray-500 mb-2">JELAJAH & GASTRO
          </h2>
          <div class="my-2">
            <h5 class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?            </h5>

              <a href="#" class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?           </a>
          </div>
        </div>
        <div class="flex flex-col   py-4 px-0 md:px-4 ">

          <h2 class="text-2xl text-red-500 font-bodoni-std border-b-2 border-gray-500 mb-2">SAINS & TEKNOLOGI
          </h2>
          <div class="my-2">
            <h5 class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?            </h5>

              <a href="#" class=" text-lg font-bodoni-std text-gray-800 ">Kebudayaan Islam?           </a>
          </div>
        </div>

            </div>
    </div>
  </div>