<div class="relative max-w-7xl mx-auto md:border-b-2	 border-gray-500">


    <div class="   flex flex-col md:flex-row divide-x divide-gray-500">
      <div class="md:flex-1 order-2 md:order-1 	bg-red-200	h-auto">
        <!-- Will grow and shrink as needed without taking initial size into account -->
        <div class="   flex flex-col  divide-y divide-gray-500 md:mr-4">


        </div>
      </div>
      <div class="md:flex-grow order-1	md:order-2	 bg-blue-200	h-auto md:w-80 ">
        <div class="flex flex-col bg-yellow-200 py-4 text-center">


        </div>
      </div>
      <div class="md:flex-1 order-3 bg-yellow-200	h-auto">
        <div class="   flex flex-col  divide-y divide-gray-500 md:ml-4">


        </div>
      </div>
    </div>
    <div class="   flex flex-col md:flex-row ">
      <div class="md:flex-1 order-2 md:order-1 	bg-red-200	h-72">
        <!-- Will grow and shrink as needed without taking initial size into account -->
      </div>
      <div class="md:flex-grow order-1	md:order-2	 bg-blue-200	h-72 md:w-80 ">
        <!-- Will grow and shrink as needed without taking initial size into account -->
      </div>
      <div class="md:flex-1 order-3 bg-yellow-200	h-72">
        <!-- Will grow and shrink as needed without taking initial size into account -->
      </div>
    </div>
    <div class="   flex flex-col md:flex-row ">
      <div class="md:flex-1 order-2 md:order-1 	bg-red-200	h-72">
        <!-- Will grow and shrink as needed without taking initial size into account -->
      </div>
      <div class="md:flex-grow order-1	md:order-2	 bg-blue-200	h-72  ">
        <!-- Will grow and shrink as needed without taking initial size into account -->
      </div>
      <div class="md:flex-1 order-3 bg-yellow-200	h-72">
        <!-- Will grow and shrink as needed without taking initial size into account -->
      </div>
    </div>
  </div>