
    <div class="relative max-w-7xl mx-auto md:border-b-2	 border-gray-500">
        <div class="   flex flex-col md:flex-row md:divide-x-2 divide-gray-500 md:pb-4">
          <div class="md:flex-1 order-2 md:order-1 		h-auto  ">
            <!-- First column in desktop, 2nd row in mobile -->
            <div class="   flex flex-col  divide-y-2 divide-gray-500 mx-4  border-b-2	 border-gray-500 md:border-b-0">
              <div class="flex flex-col  py-4">
                <img class="object-cover h-36 md:h-40 w-full"
                  src="./assets/img/blog/blog1.png"
                  alt="">
                <h3 class="text-lg font-bodoni-std">Wadaat, Daulat dan Keramat Rakyat</h3>
                <h4 class="font-myriad text-base">RIZUAN ABDUL HAMID</h4>
              </div>
              <div class=" flex flex-col py-4">
                <img class="object-cover h-36 md:h-40 w-full"
                  src="./assets/img/blog/blog2.png"
                  alt="">
                  <h3 class="text-lg font-bodoni-std">Wadaat, Daulat dan Keramat Rakyat</h3>
                  <h4 class="font-myriad text-base">RIZUAN ABDUL HAMID</h4>
              </div>
  
            </div>
          </div>
           <!-- 2nd column in desktop, 1st row in mobile -->
          <div class="md:flex-grow order-1	md:order-2	 	h-auto md:w-56 xl:w-80 ">
            <div class="flex flex-col  py-4 text-center  mx-4 border-b-2	 border-gray-500 md:border-b-0 ">
              <img class="object-cover  h-auto w-full"
                src="./assets/img/blog/blog3.png"
                alt="">
              <h3 class="text-4xl font-bodoni-std font-medium my-2">Beristerikan Seorang Ratu
              </h3>
              <h4 class="text-lg font-myriad text-gray-800 my-2">“Pernah anda terfikir untuk menjadi rakyat kepada seorang ratu?
                Iya, seorang pemerintah wanita. Walaupun undang-undang pewarisan Raja-Raja Melayu sekarang tidak memungkinkan untuk seorang perempuan
                </h4>
                <h5 class="text-base font-myriad my-2">RIZUAN ABDUL HAMID, 24 APR 202</h2>
  
            </div>
          </div>
         <!-- 3rd column in desktop, 3rd row in mobile -->
          <div class="md:flex-1 order-3 	h-auto">
            <div class="   flex flex-col  divide-y-2 divide-gray-500 mx-4 border-b-2	 border-gray-500 md:border-b-0">
              <div class="flex flex-row  py-4 justify-between">
                <div>
                  <h3 class="text-xl font-bodoni-std">Kebudayaan Islam?</h3>
                  <h4 class="font-myriad text-base">RIZUAN ABDUL HAMID</h4>
                </div>
                <img class="object-contain h-20 w-auto ml-3"
                  src="./assets/img/blog/blog4.png"
                  alt="">
              </div>
              <div class="flex flex-row  py-4 justify-between">
                <div class="">
                  <h3 class="text-xl font-bodoni-std">Kebudayaan Islam?</h3>
                  <h4 class="font-myriad text-base">RIZUAN ABDUL HAMID</h4>
                </div>
                <img class="object-cover h-20  w-auto ml-3"
                  src="./assets/img/blog/blog4.png"
                  alt="">
              </div>
              <div class="flex flex-row  py-4 justify-between">
                <div>
                  <h3 class="text-xl font-bodoni-std">Kebudayaan Islam?</h3>
                  <h4 class="font-myriad text-base">RIZUAN ABDUL HAMID</h4>
                </div>
                <img class="object-cover h-20  w-auto ml-3"
                  src="./assets/img/blog/blog4.png"
                  alt="">
              </div>
              <div class="flex flex-row  py-4 justify-between">
                <div>
                  <h3 class="text-xl font-bodoni-std">Kebudayaan Islam?</h3>
                  <h4 class="font-myriad text-base">RIZUAN ABDUL HAMID</h4>
                </div>
                <img class="object-cover h-20 w-28 ml-3"
                  src="./assets/img/blog/blog4.png"
                  alt="">
              </div>
              <div class="flex flex-row  py-4 text-center items-baseline ">
                <button type="button"
                class="  mx-2 items-baseline px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-400 w-full">
                Baca lagi</button>
              </div>
  
            </div>
          </div>
        </div>
       
      </div>